@model BDA.ViewModel.UMAViewModel

<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>Action</h3>
</div>
<div id="pnl_action" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="form-actions">
                    <button type="submit" name="Status" value="Approve" class="btn btn-success mr-2">
                        <i class="la la-check"></i> Approve
                    </button>
                    <button type="submit" name="Status" value="Reject" class="btn btn-danger mr-2">
                        <i class="la la-times"></i> Reject
                    </button>
                    <button type="submit" name="Status" value="Request More Info" class="btn btn-warning">
                        <i class="la la-question"></i> Request More Information
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>