@model BDA.ViewModel.UMAViewModel
@{
    var report = "";
    var pbt = "";

    if (Model != null)
    {
        report = Model.ScannedPoliceReportVM?.FileName;
        pbt = Model.ScannedPBTDocVM?.FileName;
    }
}

<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>Supporting Document</h3>
</div>
<div id="pnl_document" class="widget-body">
    <div class="table-responsive padding-left-20 padding-right-20">
        <table id="tblListVerifier" class="table table-hover mb-0 display table-bordered">
            <thead>
                <tr>
                    <th style="width:5px">No</th>
                    <th style="width:400px">Name</th>
                    <th style="width:250px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <p>Police Report (Scanned) and Memo (Scanned)<span class="text-danger ml-2">*</span></p>
                        <p><b style="color:red;font-style:italic;font-size:12px">*Original Police Report (Physical) and Memo (Physical) must be delivered to TGBS AP Banking Management</b></p>
                    </td>
                    <td class="td-actions">
                        @if (report == "" || report == null)
                        {
                            <div id="noFile-ScannedPoliceReport" class="file-upload before-submit">
                                <input id="ScannedPoliceReport" name="ScannedPoliceReport" type="file" class="form-control" accept="image/*,.pdf">
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12">
                                <input type="hidden" value="@report" id="hdnPoliceReport" />
                                <a onclick="window.open('../../../documents/@report','newwindow','width=900,height=750');"><i class="ti-printer"></i></a>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <p>PBT Document (Scanned)</p>
                        <p><b style="color:red;font-style:italic;font-size:12px">*Original PBT Document (Physical) must be delivered to TGBS AP Banking Management</b></p>
                    </td>
                    <td class="td-actions">
                        @if (pbt == "" || pbt == null)
                        {
                            <div id="noFile-ScannedPBTDoc" class="file-upload before-submit">
                                <input id="ScannedPBTDoc" name="ScannedPBTDoc" type="file" class="form-control" accept="image/*,.pdf">
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12">
                                <input type="hidden" value="@pbt" id="hdnPBTDoc" />
                                <a onclick="window.open('../../../documents/@pbt','newwindow','width=900,height=750');"><i class="ti-printer"></i></a>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <p>Others Document</p>
                    </td>
                    <td class="td-actions">
                        <div id="pnlOtherDoc">
                        </div>
                        <button type="button" id="btnAddOtherDoc" class="btn btn-primary btn-sm">Add Other Document</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>